#Git Push 이후 Action > GHCR PUSH, Docker File 필요함

name: Build, Push and Deploy (service-b)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build JAR with Gradle
        run: ./gradlew clean bootJar

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build & Push Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/service-b
          SHA_TAG=${{ github.sha }}
          BRANCH_TAG=main

          echo "Build image: $IMAGE:$SHA_TAG"
          docker build -t $IMAGE:$SHA_TAG .

          echo "Tag as main"
          docker tag $IMAGE:$SHA_TAG $IMAGE:$BRANCH_TAG

          echo "Push both tags"
          docker push $IMAGE:$SHA_TAG
          docker push $IMAGE:$BRANCH_TAG
